---
permalink: /site.webmanifest
eleventyExcludeFromCollections: true
---
{
  "name": "{{ site.title }}",
  "short_name": "{{ site.shortTitle }}",
  "lang": "fr-BE",
  "start_url": "{{ site.pathPrefix }}",
  "scope": "{{ site.pathPrefix }}",
  "display": "browser",
  "background_color": "#fcfcfb",
  "theme_color": "#fcfcfb",
  "icons": [
    { "src": "{{ site.pathPrefix }}favicon.svg", "type": "image/svg+xml", "sizes": "any" },
    { "src": "{{ site.pathPrefix }}apple-touch-icon.png", "type": "image/png", "sizes": "180x180" },
    { "src": "{{ site.pathPrefix }}icon-512.png", "type": "image/png", "sizes": "512x512" }
  ]
}
